input[type="text"],
input[type="password"] {
    background-color: #ffffff; /* Set background color to white */
}

input.search
{
    background-color: #e3e3e3 !important;
    width: 350px;
    height: 40px;
}

.button
{
    padding : 10px;
    padding-left: 15px;
    color: #cecece;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
}

.button:hover
{
    background-color: #A864FF;
    color: #FFFFFF;
}

.side
{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 100%;
    background-color: #ffffff;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
}

.nav
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo
{
    width: 90%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #7808ED;
    font-family: Monotype Corsiva;
    margin-top: 15%;
}

aside div img
{
    width: 35%;
    height: 35%;
    border-radius: 50%;
    float: left;
}

.info
{
    font-size: small;
}

.follow
{
    background-color: #7808ED;
    color: #FFFFFF;
    width: 95px;
    padding: 8px;
    margin: 5px;
    border-radius: 25px;
    font-size: x-small;
    text-align: center;
}

span
{
    font-weight: bold;
}

ol li
{
    list-style-type: decimal;
    color: #818181;
    margin-left: 25px;
}

.search
{
    padding: 10px;
    border-radius: 25px;
    border: none;
}

.discussion
{
    width: 350px;
    height: 200px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25px;
}

.titleBoxStyle
{
    background-color: rgba(255, 255, 255);
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid black;
    border-radius: 25px;
}

.post
{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 85%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Or use overflow: auto; to allow scrolling */
}


.post table
{
    width: auto;
    border-collapse: collapse;
}

.desc
{
    font-size: small;
    color: #818181;
    vertical-align: top;
    padding: 5px;
    /* border: 1px black solid; */
}

.icons
{
    font-size: 20px;
    margin-left: 10px;
}

.post img
{
    width: 100%;
    height: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

hr
{
    border: 1px solid black;
    width: 100%;
}

.explore
{
    width: 90%;
    height: 300px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1.75px solid rgb(136, 136, 136);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.discussionPage
{
    background-size: cover;
    position : relative;
    border: 1px solid black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 875px;
    height: 375px;
}